{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off",
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
