{
  "extends": ["plugin:valtio/recommended", "plugin:react/recommended"],
  "rules": {
    "valtio/state-snapshot-rule": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
